name: Run check in dev

on:
  pull_request:
    branches:
      - dev

jobs:
  linters:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.11' ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -e .[linters] --no-cache-dir
      - name: Run linters
        run: flake8 . && interrogate . && codespell src examples tests
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.8', '3.9', '3.10', '3.11' ]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt install graphviz libgraphviz-dev -y
        python -m pip install -e .[dev] -e .[docs] --no-cache-dir
    - name: Run tests and coverage
      run: coverage run -m unittest discover && coverage report
